[submodule "roles/php"]
	path = roles/php
	url = git@github.com:geerlingguy/ansible-role-php.git
[submodule "roles/php_memcached"]
	path = roles/php_memcached
	url = git@github.com:geerlingguy/ansible-role-php-memcached.git
[submodule "roles/php_mysql"]
	path = roles/php_mysql
	url = git@github.com:geerlingguy/ansible-role-php-mysql.git
[submodule "roles/php_pear"]
	path = roles/php_pear
	url = git@github.com:geerlingguy/ansible-role-php-pear.git
